services:
  telegram-bot:
    image: ghcr.io/polyrythms/multimodule-project/telegram-bot:latest
    environment:
      SPRING_PROFILES_ACTIVE: prod
      MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE: "health,info,prometheus,metrics,env"
      MANAGEMENT_ENDPOINT_PROMETHEUS_ENABLED: "true"
      MANAGEMENT_METRICS_EXPORT_PROMETHEUS_ENABLED: "true"
    volumes:
      - ./logs/telegram-bot:/app/logs
    networks:
      - app-network
    restart: unless-stopped

  audio-service:
    image: ghcr.io/polyrythms/multimodule-project/audio-service:latest
    environment:
      SPRING_PROFILES_ACTIVE: prod
      MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE: "health,info,prometheus,metrics,env"
      MANAGEMENT_ENDPOINT_PROMETHEUS_ENABLED: "true"
      MANAGEMENT_METRICS_EXPORT_PROMETHEUS_ENABLED: "true"
    volumes:
      - ./logs/audio-service:/app/logs
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    external: true
    name: app-network