services:
  minio:
    volumes:
      - ./data/minio_data:/data
    networks:
      app-network:
        aliases:
          - minio
          - minio-service

  zookeeper:
    volumes:
      - ./data/zk-data:/var/lib/zookeeper/data
      - ./data/zk-logs:/var/lib/zookeeper/log
    networks:
      - app-network

  kafka:
    volumes:
      - ./data/kafka-data:/var/lib/kafka/data
      - ./configs/kafka/topics.sh:/tmp/topics.sh
    networks:
      - app-network
    restart: unless-stopped

  kafdrop:
    networks:
      - app-network

  telegram-bot:
    image: ghcr.io/polyrythms/multimodule-project/telegram-bot:latest
    environment:
      SPRING_PROFILES_ACTIVE: prod
      MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE: "health,info,prometheus,metrics,env"
      MANAGEMENT_ENDPOINT_PROMETHEUS_ENABLED: "true"
      MANAGEMENT_METRICS_EXPORT_PROMETHEUS_ENABLED: "true"
    volumes:
      - ./logs/telegram-bot:/app/logs
    networks:
      - app-network
    restart: unless-stopped

  audio-service:
    image: ghcr.io/polyrythms/multimodule-project/audio-service:latest
    environment:
      SPRING_PROFILES_ACTIVE: prod
      MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE: "health,info,prometheus,metrics,env"
      MANAGEMENT_ENDPOINT_PROMETHEUS_ENABLED: "true"
      MANAGEMENT_METRICS_EXPORT_PROMETHEUS_ENABLED: "true"
    volumes:
      - ./logs/audio-service:/app/logs
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    external: true
    name: app-network

volumes:
  minio_data:
    name: minio-data
  zk-data:
    name: zookeeper-data
  zk-logs:
    name: zookeeper-logs
  kafka-data:
    name: kafka-data