services:
  telegram-bot:
    image: ghcr.io/polyrythms/multimodule-project/telegram-bot:latest
    # Убираем volumes с исходниками, т.к. ресурсы теперь в образе
    volumes:
      - ./telegram-bot/logs:/app/logs

  audio-service:
    image: ghcr.io/polyrythms/multimodule-project/audio-service:latest
    volumes:
      - ./audio-service/logs:/app/logs