spring:
  application:
    name: audio-service
  config:
    import: optional:file:.env[.properties]
  profiles:
    active: prod

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always

app:
  kafka:
    topics:
      audio-processing: ${AUDIO_PROCESSING_TOPIC:audio-processing-topic}
      audio-result: ${AUDIO_RESULT_TOPIC:audio-result-topic}
    partitions: 6
    replicas: 1

assemblyai:
  api:
    url: https://api.assemblyai.com/v2